<%= layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/users.css">
    <div class='main'>
        <% for(let user of users){%>
            <div class="cont border my-2">
                <div class="upperpart1">
                    <% if(user.profile.photo.url){ %>
                        <img src="<%=user.profile.photo.url%>" class="image " alt="">

                        <% } %>
                            <% if(!user.profile.photo.url){ %>
                                <img src="/images/perfil.png" class="image " alt="">
                                <% } %>
                                    <div class="info ">
                                        <% if(currentUser){ %>
                                            <% if(currentUser.email !==user.email){ %>
                                                <h4 class="userPlace">
                                                    <%=user.username %>
                                                </h4>
                                                <% }if(currentUser.email===user.email ){ %>

                                                    <h4 class="userPlace">
                                                        <%=user.username %> <i>(eu)</i>
                                                    </h4>
                                                    <% } %>
                                                        <% } %>
                                                            <div class=" infopluss">

                                                                <% if(user.profile.age){ %>
                                                                    <span class="span mr-4">
                                                                        <b>Idade: <%=user.profile.age %></b>
                                                                    </span>

                                                                    <% }if(user.profile.experience){ %>
                                                                        <span class="span mr-4">
                                                                            <b>Treina há <%=user.profile.experience %>
                                                                                    anos</b>
                                                                        </span>
                                                                        <% }if(user.profile.city){ %>
                                                                            <span class="span ">
                                                                                <b>
                                                                                    Cidade: <%=user.profile.city %>
                                                                                </b>
                                                                            </span>
                                                                            <% } %>
                                                            </div>
                                    </div>


                </div>
                <div class="controller mt-4">
                    <div class="mb-3 d-flex flex-column">
                        <% if(!user.isAdmin){ %>
                            <form action="/admin/admin/<%=user._id %>" method="POST">
                                <button class="btn btn-success mt-1">Promover Admin</button>
                            </form>
                            <% } %>

                                <form action="/admin/instructor/<%=user._id%>" method="POST">

                                    <% if(user.isInstructor){ %>
                                        <button class="btn btn-primary mt-1 lighter1">Despromover de Instrutor</button>

                                        <% } if(!user.isInstructor){ %>
                                            <button class="btn btn-primary mt-1">Promover Instrutor</button>

                                            <% } %>
                                </form>

                                <form action="/admin/intermidiate/<%=user._id %>" method="POST">
                                    <%if(!user.level.isIntermidiate){ %>
                                        <button class="btn btn-warning mt-1">Promover a
                                            Intermédio
                                        </button>
                                        <% } else{ %>
                                            <button class="btn btn-warning mt-1 lighter2">Despromover
                                                a
                                                Iniciante
                                            </button>
                                            <% } %>
                                </form>
                                <form action="/admin/advanced/<%=user._id %>" method="POST">
                                    <% if(!user.level.isAdvanced) {%>
                                        <button class="btn btn-danger mt-1">Promover a
                                            Avançado</button>
                                        <% }else { %>
                                            <button class="btn btn-danger mt-1 lighter3">Despromover
                                                a
                                                Intermédio</button>
                                            <% } %>
                                </form>
                    </div>
                </div>
            </div>

            <% } %>
    </div>